//-
  options.items - массив с элементами меню

mixin menu(options)
    if !options
        - options = {}
    if !options.items
        - options.items = []
    
    .menu
        each link in options.items
            a.menu__items(href=link.href)= link.text

