extends ~page/base/base.pug

block title
    | Index
block main
    .section
        .container
            h1 Hello, I am webpack starter kit!
            img(src=require("../../assets/img/logo-desktop.png").default, alt="")
            img(src=require("./img/mopsa.jpg").default, alt="")
            a(href="about.html") about