extends ~page/base/base.pug

block title
    | Index
block main
    .section
        .section__container
            h1(class="section__title") Hello, I am webpack starter kit!
            .section__img
                img(class="section__icon" src=require("./img/pug.jpg").default, alt="")
                img(class="section__icon" src=require("./img/webpack.jpg").default, alt="")
                img(class="section__icon" src=require("./img/logo-sass.png").default, alt="")