include ~component/menu/menu

//-
  options.items - массив с элементами меню

mixin header(options)
    if !options
        - options = {}
    if !options.items
        - options.items = []
    
    header(class="header")
        .header__container
            h1(class="header__title") HEADER
            .header__menu
                +menu({
                    items: [
                        {text: 'Home', href: 'index.html'},
                        {text: 'Page1', href: 'page1.html'},
                        {text: 'Page2', href: 'page2.html'}
                    ]
                })
