include ~component/menu/menu

//-
    options.name - comments

mixin footer(options)
    if !options
        - options = {}

    footer(class="footer")
        .footer__container
            h1(class="footer__title") FOOTER
            .footer__menu
                +menu({
                    items: [
                        {text: 'Page1', href: 'page1.html'},
                        {text: 'Page2', href: 'page2.html'},
                        {text: 'Page3', href: 'page3.html'},
                    ]
                })
